<a href="https://colab.research.google.com/github/ojs8139/KISTI_TeamTest/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%ACPandas%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});df

In [0]:
df.loc[df.AAA >= 5,'BBB'] = 1; df

In [0]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2})

In [0]:
# where을 그냥 쓰면 False 값에 두번째 param 값이 들어가고, 조건문을 쓰면 조건문_if 실행
# 커멘드가 된다.
df.where(df_mask,-1000)

In [0]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})

In [32]:
df['logic'] = np.where(df['AAA'] > 5,'high','low'); df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [0]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})

In [45]:
# index.isin(배열) 배열값들이 있는 걸 찾을 때 사용
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [0]:
rng = pd.date_range('1/1/2013',periods=100,freq='D')

In [0]:
data = np.random.randn(100, 4)

In [0]:
cols = ['A','B','C','D']

In [0]:
df1, df2, df3 = pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols)

In [0]:
pf = pd.Panel({'df1':df1,'df2':df2,'df3':df3})

In [57]:
pf.loc[:,:,'F'] = pd.DataFrame(data, rng, cols);pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

In [0]:
df = pd.DataFrame({'row' : [0,1,2],'One_X' : [1.1,1.1,1.1],'One_Y' : [1.2,1.2,1.2],
'Two_X' : [1.11,1.11,1.11],'Two_Y' : [1.22,1.22,1.22]});

In [61]:
df = df.set_index('One_Y');df

       One_X  Two_X  Two_Y
One_Y
1.2      1.1   1.11   1.22
1.2      1.1   1.11   1.22
1.2      1.1   1.11   1.22

In [0]:
df = pd.DataFrame(data={'Case' : ['A','A','A','B','A','A','B','A','A'], 'Data' : np.random.randn(9)})

In [0]:
dfs = list(zip(*df.groupby((1*(df['Case']=='B')).cumsum().rolling(window=3,min_periods=1).median())))[-1]

In [65]:
dfs

(  Case      Data
 0    A  0.531426
 1    A -0.261841
 2    A -1.509735
 3    B  1.323910,   Case      Data
 4    A  0.445880
 5    A -1.257106
 6    B -0.597483,   Case      Data
 7    A  0.079672
 8    A  0.883968)